.box-layout {
  align-items: center;
  background: url('/images/bgn.jpg');
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.box-layout__box {
  background: fade-out($off-white, .15);
  border-radius: 10px;
  padding: $m-size $xl-size;
  text-align: center;
  color: black;
  width: 25rem;
}

.box-layout__title {
  margin: 0 0 $m-size 0;
  line-height: 1;
  font-family: "Arial Black", Gadget, sans-serif ;
}